[Unit]
Description=Timeout %i seconds
Before=shutdown.target reboot.target poweroff.target sleep.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/touch /tmp/%i
ExecStart=/usr/bin/true

[Install]
WantedBy=shutdown.target reboot.target poweroff.target sleep.target
